---
layout: archive
---

{% if page.title == "ALGORITHM" %}
  {% assign posts = site.categories.algorithm %}
{% elsif page.title == "BLOG" %}
  {% assign posts = site.categories.blog %}
{% elsif page.title == "CONTEST" %}
  {% assign posts = site.categories.contest %}
{% elsif page.title == "DEEP LEARNING" %}
  {% assign posts = site.categories.deep-learning %}
{% elsif page.title == "ESSAY" %}
  {% assign posts = site.categories.essay %}
{% endif %}

{% for post in posts %} {% include archive-single.html type=page.entries_layout %} {% endfor %}