---
layout: archive
---

{% if page.title == "BOJ 23000~23999" %}
  {% assign posts = site.tags.boj-23000-23999 %}
{% elsif page.title == "BOJ 24000~24999" %}
  {% assign posts = site.tags.boj-24000-24999 %}
{% elsif page.title == "Blog Making" %}
  {% assign posts = site.tags.blog-making %}
{% elsif page.title == "Markdown" %}
  {% assign posts = site.tags.markdown %}
{% elsif page.title == "Baekjoon Contest" %}
  {% assign posts = site.tags.baekjoon-contest %}
{% elsif page.title == "Contest etc" %}
  {% assign posts = site.tags.contest-etc %}
{% elsif page.title == "Essay" %}
  {% assign posts = site.tags.essay %}
{% elsif page.title == "Handy Function" %}
  {% assign posts = site.tags.handy-function %}
{% elsif page.title == "Tech Stack" %}
  {% assign posts = site.tags.tech-stack %}
{% endif %}

{% for post in posts %} {% include archive-single.html type=page.entries_layout %} {% endfor %}